@import url(http://fonts.googleapis.com/css?family=Bad+Script|Calligraffitti|Great+Vibes|Amatic+SC:400,700|Cinzel:400,700|Homemade+Apple|Nothing+You+Could+Do|Crimson+Text);

/*
font-family: 'Bad Script', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Cinzel', serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Nothing You Could Do', cursive;
*/

/* Main styling, background, fonts */
#navStyle {
  font-family: 'Cinzel', serif;
  margin-bottom: 0px;
  opacity: 0.5;
}

body{
  font-family: 'Cinzel', serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

/* End Main styling, background, fonts */

/* Home Page */
#homeH1{
  font-family: 'Cinzel', serif;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  color: white;
  padding: 0 100px;
  font-weight: bold;
}
.video-section .pattern-overlay {
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 496px; 
  /* Incase of overlay problems just increase the min-height*/
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -10;
}

#homePage{
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
  font-size: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* End Home Page */


/* Login/Register */
#userForm{
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin-left: 30px;
  padding-top: 10px;
}

#userH3{
  font-weight:bold;
  font-family: 'Cinzel', serif;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0 100px;
  font-weight: bold;
  width: 320px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

input.ng-invalid, select.ng-invalid{
  background-color: @RED;
}

#userEmail{
  font-size: 18px;
}

#userPassword{
  font-size: 18px;
}

#email{
  font-size: 15px;
  color: black;
}

#password{
  font-size: 15px;
  color: black;  
}

/* End Login/Register */

/* Room Page */
#roomsRow{
  padding-bottom: 50px;
}

#roomh3 {
  font-weight: bold;
}

#formWrap{
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 400px;
  padding-bottom: 10px;
  padding-left: 25px;
  margin-left: 60px;
  margin-top: 50px;
}

#nameLabel{
  font-size: 18px;
}

#passwordLabel{
  font-size: 18px;
}

#roomName{
  width: 300px;
  font-size: 15px;
}

#roomPassword{
  width: 300px;
  font-size: 15px;
}

/* End Room Page */

/* Table & Filter(Search) */
td {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  font-size: 18px;
  border: 1px solid white;
}

.bomb{
  width: 40px;
  border: 1px solid white;
  padding: 0px;
  height: 40px;
}

#tdInput{
  color: black;
}

th {
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 200px;
  border: 1px solid white;
}

table{
  margin: 0 auto;
}

input.form-control.search {
  width: auto;
  margin: 0 auto;
}

#search {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  margin-right: 45px;
  padding: 10px 0px 15px 0px;
  border: 1px solid white;
  margin-top: 50px;
}

#the-game{ display: inline-block;}

#portraits{
  display: inline-block;
  width: 300px;
  height: 600px;

  img{
    width: 50%;
    height: 150px;
  }
}

/* End Table & Filter(Search) */

/* Messaging */

#the-chat{
  border: 3px solid white; 
  background-color: rgba(0, 0, 0, 0.8); 
  width: 275px; 
  height: 550px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 15px;
  word-wrap: break-word;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 5px;
}

#messageInput {
  height: 100px;
  width: 275px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

#sendMessage {
  margin-top: 5px;
}

.message{
  margin-bottom: 5px;
}

#the-game{
  margin-top: 40px;
}

/* End Messaging */

// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;   

.featsInput, .skillsInput {
  label, input {
    display: inline-block;
  }

  h4 {
    text-align: center;
    margin-top: 30px;
  }
}

.charPortrait {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
