script(src='/vendor/jquery/dist/jquery.js')
script(src='/vendor/angular/angular.js')
script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.js')
script(src='/vendor/underscore/underscore.js')
script(src='/vendor/toastr/toastr.js')
script(src='/vendor/localforage/dist/localforage.js')
script(src='/vendor/angular-localforage/dist/angular-localForage.js')

script(src='/config/toastr.js')
script(src='/index.js')
script(src='/components/factories/user.js')
script(src='/components/factories/http-interceptor.js')
script(src='/components/directives/ns-nav/ns-nav.js')
script(src='/views/users/users.js')

