script(src='/vendor/jquery/dist/jquery.min.js')
script(src='/vendor/angular/angular.min.js')
script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
script(src='/vendor/underscore/underscore-min.js')
script(src='/vendor/toastr/toastr.min.js')
script(src='/vendor/localforage/dist/localforage.min.js')
script(src='/vendor/angular-localforage/dist/angular-localForage.min.js')
script(src='/vendor/phaser/build/phaser.min.js')

script(src='/socket.io/socket.io.js')
script(src='/config/toastr.js')

script(src='/index.js')
script(src='/components/factories/user.js')
script(src='/components/factories/http-interceptor.js')
script(src='/components/directives/ns-nav/ns-nav.js')
script(src='/views/users/users.js')
script(src='/views/rooms/rooms.js')
script(src='/views/games/boot.js')
script(src='/views/games/games.js')
script(src='/socket.js')
