link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
link(href='/vendor/toastr/toastr.css', rel='stylesheet')

link(href='/index.css', rel='stylesheet')
link(href='/components/directives/ns-nav/ns-nav.css', rel='stylesheet')

