#roomsWrapper.container
  h3#roomh3 Rooms Finder &amp; Creator
  .row
    .col-xs-3
      form(role='form', novalidate, name='userForm')
        .form-group
          label(for='name') Room Name
          input.form-control#roomName(type='text', name='name', ng-model='room.name', autofocus)
        .form-group
          label(for='password') Password
          input.form-control#roomPassword(type='password', name='password', ng-model='room.password')
        .form-group
          button.btn.btn-primary(ng-click='submit()') Create Room
    .col-xs-9
br
.row
  .col-xs-3
  .col-xs-6
    .formgroup#search
      label Search:
      input.form-control.search(ng-model='query')
  .col-xs-3
br
.row
  .col-xs-1
  .col-xs-10
    table
      thead
        th Room Name
        th User Name

      tbody(ng-repeat='room in rooms | filter:query')
        tr
          td {{room.name}}
          td {{room.email}}
  .col-xs-1
