h4 {{mode | uppercase}}

.row
  .col-xs-3
    form(role='form', novalidate, name='charForm')
      .form-group
        label(for='name') Name
        input.form-control#name(type='text', name='name', ng-model='character.name', required)
      .form-group
        label(for='sex') Gender
        select.form-control#class(type='select', name='sex', ng-model='character.sex', required)
          option(value='male', name='male') Male
          option(value='female', name='male') Female
      .form-group
        label(for='class') Class
        select.form-control#charClass(ng-model='charClass', ng-options='opt as opt.label for opt in charOptions', name='charClass', required)
      .form-group
        label(for='race') Race
        select.form-control#race(type='select', name='race', ng-model='character.race', required)
      .form-group
        button.btn.btn-primary(ng-click='roll()') Generate Stats
      .form-group
        button.btn.btn-primary(ng-click='submit()') Submit
  .col-xs-3
    table
      thead
        td
        td Score
        td Modifier
      tr
        td Strength
        td {{charStats.str}}
        td {{charMods.str}}
      tr
        td Dexterity
        td {{charStats.dex}}
        td {{charMods.dex}}
      tr
        td Constitution
        td {{charStats.con}}
        td {{charMods.con}}
      tr
        td Intelligence
        td {{charStats.cha}}
        td {{charMods.cha}}
      tr
        td Wisdom
        td {{charStats.int}}
        td {{charMods.int}}
      tr
        td Charisma
        td {{charStats.wis}}
        td {{charMods.wis}}
  .col-xs-3

