.featsInput
  .row
    .col-xs-12
      h4 Select Your Feats
  .row
    .col-xs-6
      .form-group
      label Feat Points
      input(type='number' disabled ng-model='featPoints')
    .col-xs-6
  .row
    .col-xs-3
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.acrobatic' ng-change='assignFeatPoints("acrobatic")' ng-init="character.feats.acrobatic=0") 
        label Acrobatic:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.agile' ng-change='assignFeatPoints("agile")' ng-init="character.feats.agile=0") 
        label Agile:
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.alertness' ng-change='assignFeatPoints("alertness")' ng-init="character.feats.alertness=0") 
        label Alertness: 
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.animalAffinity' ng-change='assignFeatPoints("animalAffinity")' ng-init="character.feats.animalAffinity=0")
        label Animal Affinity:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.armorLight' ng-change='assignFeatPoints("armorLight")' ng-init="character.feats.armorLight=0")
        label Armor Proficiency Light:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.armorMedium' ng-change='assignFeatPoints("armorMedium")' ng-init="character.feats.armorMedium=0") 
        label Armor Proficiency Medium:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.armorHeavy' ng-change='assignFeatPoints("armorHeavy")' ng-init="character.feats.armorHeavy=0") 
        label Armor Proficiency Heavy:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.athletic' ng-change='assignFeatPoints("athletic")' ng-init="character.feats.athletic=0") 
        label Athletic:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.augment' ng-change='assignFeatPoints("augment")' ng-init="character.feats.augment=0")
        label Augment Summoning: 
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.combatCasting' ng-change='assignFeatPoints("combatCasting")' ng-init="character.feats.combatCasting=0")
        label Combat Casting:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.deceitful' ng-change='assignFeatPoints("deceitful")' ng-init="character.feats.deceitful=0")
        label Deceitful:    
    .col-xs-3
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.deftHands' ng-change='assignFeatPoints("deftHands")' ng-init="character.feats.deftHands=0")
        label Deft Hands:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.diehard' ng-change='assignFeatPoints("diehard")' ng-init="character.feats.diehard=0")
        label Diehard:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.diligent' ng-change='assignFeatPoints("diligent")' ng-init="character.feats.diligent=0")
        label Diligent:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.endurance' ng-change='assignFeatPoints("endurance")' ng-init="character.feats.endurance=0")
        label Endurance:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.eschew' ng-change='assignFeatPoints("eschew")' ng-init="character.feats.eschew=0")
        label Eschew Materials:       
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.extendSpell' ng-change='assignFeatPoints("extendSpell")' ng-init="character.feats.extendSpell=0")
        label Extend Spell:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.extraTurning' ng-change='assignFeatPoints("extraTurning")' ng-init="character.feats.extraTurning=0") 
        label Extra Turning:      
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.fortitude' ng-change='assignFeatPoints("fortitude")' ng-init="character.feats.fortitude=0") 
        label Great Fortitude:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.greaterSpellFocus' ng-change='assignFeatPoints("greaterSpellFocus")' ng-init="character.feats.greaterSpellFocus=0") 
        label Greater Spell Focus:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.greaterSpellPenetration' ng-change='assignFeatPoints("greaterSpellPenetration")' ng-init="character.feats.greaterSpellPenetration=0")
        label Greater Spell Penetration:      
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.counterspell' ng-change='assignFeatPoints("counterspell")' ng-init="character.feats.counterspell=0")
        label Improved Counterspell:       
    .col-xs-3
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.improvedTurning' ng-change='assignFeatPoints("improvedTurning")' ng-init="character.feats.improvedTurning=0")
        label Improved Turning:     
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.investigator' ng-change='assignFeatPoints("investigator")' ng-init="character.feats.investigator=0")
        label Investigator:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.ironWill' ng-change='assignFeatPoints("ironWill")' ng-init="character.feats.ironWill=0")
        label Iron Will:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.leadership' ng-change='assignFeatPoints("leadership")' ng-init="character.feats.leadership=0")
        label Leadership:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.lightningReflexes' ng-change='assignFeatPoints("lightningReflexes")' ng-init="character.feats.lightningReflexes=0")
        label Lightning Reflexes:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.magicalAptitude' ng-change='assignFeatPoints("magicalAptitude")' ng-init="character.feats.magicalAptitude=0") 
        label Magical Aptitude:
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.martialWeaponProficiency' ng-change='assignFeatPoints("martialWeaponProficiency")' ng-init="character.feats.martialWeaponProficiency=0") 
        label Martial Weapon Proficiency:     
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.naturalSpell' ng-change='assignFeatPoints("naturalSpell")' ng-init="character.feats.naturalSpell=0") 
        label Natural Spell:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.negotiator' ng-change='assignFeatPoints("negotiator")' ng-init="character.feats.negotiator=0") 
        label Negotiator:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.nimbleFingers' ng-change='assignFeatPoints("nimbleFingers")' ng-init="character.feats.nimbleFingers=0")
        label Nimble Fingers:   
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.persuasive' ng-change='assignFeatPoints("persuasive")' ng-init="character.feats.persuasive=0") 
        label Persuasive:      
    .col-xs-3
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.run' ng-change='assignFeatPoints("run")' ng-init="character.feats.run=0")
        label Run:       
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.selfSufficient' ng-change='assignFeatPoints("selfSufficient")' ng-init="character.feats.selfSufficient=0") 
        label Self Sufficient:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.shieldProficiency' ng-change='assignFeatPoints("shieldProficiency")' ng-init="character.feats.shieldProficiency=0")
        label Shield Proficiency:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.simpleWeaponProficiencye' ng-change='assignFeatPoints("simpleWeaponProficiencye")' ng-init="character.feats.simpleWeaponProficiencye=0")
        label Simple Weapon Proficiency:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.skillFocus' ng-change='assignFeatPoints("skillFocus")' ng-init="character.feats.skillFocus=0") 
        label Skill Focus:       
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.spellFocus' ng-change='assignFeatPoints("spellFocus")' ng-init="character.feats.spellFocus=0") 
        label Spell Focus:       
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.spellPenetration' ng-change='assignFeatPoints("spellPenetration")' ng-init="character.feats.spellPenetration=0")
        label Spell Penetration:    
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.stealthy' ng-change='assignFeatPoints("stealthy")' ng-init="character.feats.stealthy=0") 
        label Stealthy:
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.toughness' ng-change='assignFeatPoints("toughness")' ng-init="character.feats.toughness=0") 
        label Toughness:
      .form-group
        input(type='number' min=0 max=2 ng-model='character.feats.track' ng-change='assignFeatPoints("track")' ng-init="character.feats.track=0") 
        label Tower Shield Proficiency:
