//
  acrobatic:    
  agile:    
  alertness:    
  animal affinity:    
  armor proficiency light:    
  armor proficiency medium:   
  armor proficiency heavy:    
  athletic:   
  augment summoning: 
  combat casting:   
  deceitful:    
  deft hands:   
  diehard:    
  diligent:   
  endurance:    
  eschew materials:       
  extend spell:   
  extra turning:      
  great fortitude:    
  greater spell focus:    
  greater spell penetration:      
  improved counterspell:       
  improved turning:     
  investigator:   
  iron will:    
  leadership:   
  lightning reflexes:   
  magical aptitude:    
  martial weapon proficiency:     
  natural spell:    
  negotiator:   
  nimble fingers:   
  persuasive:      
  run:       
  self sufficient:    
  shield proficiency:    
  simple weapon proficiency:    
  skill focus:       
  spell focus:       
  spell penetration:    
  stealthy:   
  toughness:    
  tower shield proficiency:   
  track:     
  Feat points:

