.charListPage

h4 Character List Page

ul(ng-repeat="character in chars")
  li {{character.name}}
  li {{character.sex}}
  li {{character.charClass}}
  li {{character.race}}
  li {{character.hp}}
  li {{character.abilities}}
  li {{character.skills}}
  li {{character.feats}}
  li {{character.weapon}}
  li {{character.armor}}
  li {{character.shield}}
  li {{character.money}}
  li {{character.inventory}}
  li {{character.classSkills}}
