.skillsInput
  .row
    .col-xs-12
      h4#skills Select Your Skills
  .row
    .col-xs-6
      .form-group
      label#skillLabel Skill Points:
      input#skillInput(type='number' disabled ng-model='skillPoints')
    .col-xs-6
  .row
    .col-xs-3
      .form-group
        label Appraise:
        input(type='number' min=0 max=3 ng-model='character.skills.appraise' ng-change='assignSkillPoints("appraise")' ng-init="character.skills.appraise=0")
      .form-group
        label Balance:
        input(type='number' min=0 max=3 ng-model='character.skills.balance' ng-change='assignSkillPoints("balance")' ng-init="character.skills.balance=0")
      .form-group
        label Bluff:
        input(type='number' min=0 max=3 ng-model='character.skills.bluff' ng-change='assignSkillPoints("bluff")' ng-init="character.skills.bluff=0")
      .form-group
        label Climb:        
        input(type='number' min=0 max=3 ng-model='character.skills.climb' ng-change='assignSkillPoints("climb")' ng-init="character.skills.climb=0")
      .form-group
        label Concentration:
        input(type='number' min=0 max=3 ng-model='character.skills.concentr' ng-change='assignSkillPoints("concentr")' ng-init="character.skills.concentr=0")
      .form-group
        label Craft:
        input(type='number' min=0 max=3 ng-model='character.skills.craft' ng-change='assignSkillPoints("craft")' ng-init="character.skills.craft=0")
      .form-group
        label Decipher:        
        input(type='number' min=0 max=3 ng-model='character.skills.decipher' ng-change='assignSkillPoints("decipher")' ng-init="character.skills.decipher=0")
      .form-group
        label Diplomacy:
        input(type='number' min=0 max=3 ng-model='character.skills.diplomacy' ng-change='assignSkillPoints("diplomacy")' ng-init="character.skills.diplomacy=0")
      .form-group
        label Disable Device:
        input(type='number' min=0 max=3 ng-model='character.skills.disableDevice' ng-change='assignSkillPoints("disableDevice")' ng-init="character.skills.disableDevice=0")
      .form-group
        label Disguise:
        input(type='number' min=0 max=3 ng-model='character.skills.disguise' ng-change='assignSkillPoints("disguise")' ng-init="character.skills.disguise=0")
      .form-group
        label Escape Artist:
        input(type='number' min=0 max=3 ng-model='character.skills.escapeArtist' ng-change='assignSkillPoints("escapeArtist")' ng-init="character.skills.escapeArtist=0")
      .form-group
        label Forgery:
        input(type='number' min=0 max=3 ng-model='character.skills.forgery' ng-change='assignSkillPoints("forgery")' ng-init="character.skills.forgery=0")
    .col-xs-3
      .form-group
        label Gather Information:
        input(type='number' min=0 max=3 ng-model='character.skills.gatherInformation' ng-change='assignSkillPoints("gatherInformation")' ng-init="character.skills.gatherInformation=0")
      .form-group
        label Handle Animal:
        input(type='number' min=0 max=3 ng-model='character.skills.handleAnimal' ng-change='assignSkillPoints("handleAnimal")' ng-init="character.skills.handleAnimal=0")
      .form-group
        label Heal:
        input(type='number' min=0 max=2 ng-model='character.skills.heal' ng-change='assignSkillPoints("heal")' ng-init="character.skills.heal=0")
      .form-group
        label Hide:
        input(type='number' min=0 max=3 ng-model='character.skills.hide' ng-change='assignSkillPoints("hide")' ng-init="character.skills.hide=0")
      .form-group
        label Intimidate:
        input(type='number' min=0 max=3 ng-model='character.skills.intimidate' ng-change='assignSkillPoints("intimidate")' ng-init="character.skills.intimidate=0")
      .form-group
        label Jump:
        input(type='number' min=0 max=3 ng-model='character.skills.jump' ng-change='assignSkillPoints("jump")' ng-init="character.skills.jump=0")
      .form-group
        label Arcana:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgeArcana' ng-change='assignSkillPoints("knowledgeArcana")' ng-init="character.skills.knowledgeArcana=0")
      .form-group
        label Architecture:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgeArchitecture' ng-change='assignSkillPoints("knowledgeArchitecture")' ng-init="character.skills.knowledgeArchitecture=0")
      .form-group
        label Dungeoneering:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgeDungeoneering' ng-change='assignSkillPoints("knowledgeDungeoneering")' ng-init="character.skills.knowledgeDungeoneering=0")
      .form-group
        label Geography:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgeGeography' ng-change='assignSkillPoints("knowledgeGeography")' ng-init="character.skills.knowledgeGeography=0")
      .form-group
        label History:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgeHistory' ng-change='assignSkillPoints("knowledgeHistory")' ng-init="character.skills.knowledgeHistory=0")
    .col-xs-3
      .form-group
        label Local:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgeLocal' ng-change='assignSkillPoints("knowledgeLocal")' ng-init="character.skills.knowledgeLocal=0")
      .form-group
        label Nature:
        input(type='number' min=0 max=3 ng-model='character.skills.knowlegeNature' ng-change='assignSkillPoints("knowlegeNature")' ng-init="character.skills.knowlegeNature=0")
      .form-group
        label Nobilty:
        input(type='number' min=0 max=3 ng-model='character.skills.knowlegeNobilty' ng-change='assignSkillPoints("knowlegeNobilty")' ng-init="character.skills.knowlegeNobilty=0")
      .form-group
        label Religion:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgeReligion' ng-change='assignSkillPoints("knowledgeReligion")' ng-init="character.skills.knowledgeReligion=0")
      .form-group
        label Planes:
        input(type='number' min=0 max=3 ng-model='character.skills.knowledgePlanes' ng-change='assignSkillPoints("knowledgePlanes")' ng-init="character.skills.knowledgePlanes=0")
      .form-group
        label Listen:
        input(type='number' min=0 max=3 ng-model='character.skills.listen' ng-change='assignSkillPoints("listen")' ng-init="character.skills.listen=0")
      .form-group
        label Move Silently:
        input(type='number' min=0 max=3 ng-model='character.skills.moveSilently' ng-change='assignSkillPoints("moveSilently")' ng-init="character.skills.moveSilently=0")
      .form-group
        label Open Lock:
        input(type='number' min=0 max=3 ng-model='character.skills.openLock' ng-change='assignSkillPoints("openLock")' ng-init="character.skills.openLock=0")
      .form-group
        label Perform:
        input(type='number' min=0 max=3 ng-model='character.skills.perform' ng-change='assignSkillPoints("perform")' ng-init="character.skills.perform=0")
      .form-group
        label Profession:
        input(type='number' min=0 max=3 ng-model='character.skills.profession' ng-change='assignSkillPoints("profession")' ng-init="character.skills.profession=0")
      .form-group
        label Ride:
        input(type='number' min=0 max=3 ng-model='character.skills.ride' ng-change='assignSkillPoints("ride")' ng-init="character.skills.ride=0")
    .col-xs-3
      .form-group
        label Search:
        input(type='number' min=0 max=3 ng-model='character.skills.search' ng-change='assignSkillPoints("search")' ng-init="character.skills.search=0")
      .form-group
        label Sense Motive:
        input(type='number' min=0 max=3 ng-model='character.skills.senseMotive' ng-change='assignSkillPoints("senseMotive")' ng-init="character.skills.senseMotive=0")
      .form-group
        label Sleight of Hand:
        input(type='number' min=0 max=3 ng-model='character.skills.sleightOfHand' ng-change='assignSkillPoints("sleightOfHand")' ng-init="character.skills.sleightOfHand=0")
      .form-group
        label Speak Language:
        input(type='number' min=0 max=3 ng-model='character.skills.speakLanguage' ng-change='assignSkillPoints("speakLanguage")' ng-init="character.skills.speakLanguage=0")
      .form-group
        label Spellcraft:
        input(type='number' min=0 max=3 ng-model='character.skills.spellcraft' ng-change='assignSkillPoints("spellcraft")' ng-init="character.skills.spellcraft=0")
      .form-group
        label Spot:
        input(type='number' min=0 max=3 ng-model='character.skills.spot' ng-change='assignSkillPoints("spot")' ng-init="character.skills.spot=0")
      .form-group
        label Survival:
        input(type='number' min=0 max=3 ng-model='character.skills.survival' ng-change='assignSkillPoints("survival")' ng-init="character.skills.survival=0")
      .form-group
        label Swim:
        input(type='number' min=0 max=3 ng-model='character.skills.swim' ng-change='assignSkillPoints("swim")' ng-init="character.skills.swim=0")
      .form-group
        label Tumble:
        input(type='number' min=0 max=3 ng-model='character.skills.tumble' ng-change='assignSkillPoints("tumble")' ng-init="character.skills.tumble=0")
      .form-group
        label Use Magic Device:
        input(type='number' min=0 max=3 ng-model='character.skills.useMagicDevice' ng-change='assignSkillPoints("useMagicDevice")' ng-init="character.skills.useMagicDevice=0")
      .form-group
        label Use Rope:
        input(type='number' min=0 max=3 ng-model='character.skills.useRope' ng-change='assignSkillPoints("useRope")' ng-init="character.skills.useRope=0")
