//
  appraise 
  balance 
  bluff
  climb 
  concentr
  craft 
  decipher
  diplomacy 
  disable device
  disguise (
  escape artist 
  forgery (U
  gather information
  handle animal
  heal
  hide
  intimidate
  jump 
  knowledge arcana 
  knowledge architecture 
  knowledge dungeoneering
  knowledge geography 
  knowledge history 
  knowledge local 
  knowlege nature
  knowlege nobilty 
  knowledge religion  
  knowledge planes
  listen 
  move silently 
  open lock
  perform 
  profession  
  ride 
  search 
  sense motive
  sleight of hand 
  speak language   
  spellcraft 
  spot 
  survival 
  swim 
  tumble   
  use magic device   
  use rope