#the-game

#portraits
  img(src='../../assets/dandd.jpg')
  img(src='../../assets/dandd.jpg')
  img(src='../../assets/dandd.jpg')
  img(src='../../assets/dandd.jpg')
  img(src='../../assets/dandd.jpg')
  img(src='../../assets/dandd.jpg')
  img(src='../../assets/dandd.jpg')
  img(src='../../assets/dandd.jpg')

#the-chat
