.row
  .col-xs-4
    #the-chat
      .message(ng-repeat='message in messages track by $index') {{message.from}} : {{message.message}}
  .col-xs-8
    #the-game
.row
  .col-xs-4
    textarea#messageInput(name='playerMessages', cols='30', rows='4', ng-model='message')
    div
      button.btn.btn-success#sendMessage(ng-click='sendMessage()') Send
  .col-xs-8
    .form-group(ng-hide='isDM || hideReady')
      .col-xs-10
        select.form-control(name='characterId', ng-model='characterId', ng-options='c._id as c.name for c in characters')
          option(value='') Select Character
      .col-xs-2
        button.btn.btn-primary(ng-click='playerReady()') Player Ready
